/* this is the stylesheet specifically targeting portait mode */


/* hide landscape content */

.landscape {
    display: none;
}

.category-link:not(.current) {
    display: none;
}

.content .story.big {
	position: relative;
	width: 720px;
	padding-top: 395px;
	border-right: 0;
	border-bottom: 1px solid #DDD;
}

.content .story.big img {
	width: 735px;
	position: absolute;
	top: -10px;
	left: 0;
}

.content .story.small {
    clear: both;
	width: auto;
	border-bottom: 1px solid #DDD;
}

.content .story.small .storyimg {
    height: 140px;
    float: left; 
    margin-right: 1em;
}

.content .story.small img {
	width: 135px;
    box-shadow: 0;
    -webkit-box-shadow: none;
    border-radius: 3px;
}

.content .story.small:last-child {
	border-bottom: 0;
}

.content .story.small:nth-child(even) {
	padding-left: 0;
}

.content .story.long .img {
	width: 100%;
}

.content .story.long .text {
	float: none;
	width: auto;
	clear: both;
}

